@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #11327A;
  --teal: #34B3D4;
  --teal-light: #CCECF4;
  --coral: #EE8363;
  --green: #4BAC64;
  --gray: #5D6265;
}
